.container{
   height: 100%; 
   width: 1000px;
   margin-top: 100px;
   overflow: hidden;
   position: relative;
}

.boxModel{
    width: 160px;
    height: 270px;
}


@media screen and (max-width:769px){
    .container{
        height: 65%;
        margin-top: 200px;
    }
    .boxModel{
        width: 150px;
        height: 220px;
    }
}

/* @media screen and (max-width:577px){ */
    /* .boxModel{
        width: 150px;
        height: 220px;
    }
} */
