
.title {
    color: #daa520;
    text-align: center;
    font-family: Open Sans;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 108.108% */
    text-transform: uppercase;
  }
  
  .text {
    color: #9c9c9c;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
  }
  
  .textTred {
    color: #1a1a1a;
    text-align: center;
    font-family: Open Sans;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px; /* 107.692% */
    text-transform: uppercase;
  }
  
  .textTitle {
    color: #1a1a1a;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    margin-top: 50px;
  }
  
  .leftImage {
    position: relative;
    display: flex;
    color: #1a1a1a;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    padding-top: 40px;
  }
  
  /* .setting1 {
    position: absolute;
    bottom: 20%;
    right: 6%;
    animation: rotation2 10s infinite;
  }
  
  .setting2 {
    position: absolute;
    bottom: 26%;
    right: 1%;
    animation: rotation1 10s infinite; /* Specify animation name, duration, and infinite repeat */
  /* } */

  /* @keyframes rotation1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */
  /* @keyframes rotation2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  } */
  
  .infoText {
    color: #1a1a1a;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
  }
  


  .mainTitle{
    position: absolute;
    z-index: 222;
    top: 250px;
    left: 100px;
    text-transform: uppercase;
  }


  .mainTitleElement{
    font-size: 72px;
    font-weight: 700;
  }
  .mainTitleElement2{
    font-size: 72px;
    font-weight: 700;
  }

  .mainTitleElementSecond{
    background-color: #fff;
    padding:0 20px 20px 0;
    border-radius: 10px;
    display: inline-block;
  }




@media screen and (max-width:1200px){
  
  .title{
    font-size: 66px;
  }
   
  .mainTitleElement{
    font-size: 66px;
  }

  .mainTitleElement2{
    font-size: 66px;
  }

  .textTred{
    font-size: 60px;
    line-height: 65px;
  }

  .leftImage{
    font-size: 45px;
    font-weight: 400;
    line-height: 49px;
  }

}

@media screen and (max-width:1025px){
  .leftImage{
    font-size: 36px;
    line-height: 45px;
    width: 95%;
  }
}


@media screen and (max-width:992px){
  
  .title{
    font-size: 50px;
  }
   
  
  .mainTitleElement{
    font-size: 50px;
  }
  
  
  .mainTitleElement2{
    font-size: 50px;
  }


  .mainTitleElementSecond{
    padding: 0 10px 10px 0px;
    height: 80px !important;
  }


  .textTred{
    font-size: 50px;
  }

  .textTitle{
    font-size: 22;
    line-height: 28px;
    margin-top: 40px;
  }

  .leftImage{
    font-size: 36px;
    line-height: 45px;
  }

}

@media screen and (max-width:800px){
  .leftImage {
    font-size: 30px;
    line-height: 38px;
  }
}

@media screen and (max-width:769px){
  .title{
    font-size: 40px;
    line-height: 50px;
  }
  
  
  .mainTitleElement{
    font-size: 40px;
  }
  
  
  .mainTitleElement2{
    font-size: 40px;
  }

  /* .infoText {
    font-size: 20px;
    margin-top: 0;
  } */

  .mainTitleElementSecond{
    /* background-color: transparent; */
    /* padding:0px; */
  }

  .textTred{
    font-size: 40px;
  }

  .leftImage {
    font-size: 24px;
    line-height: 32px;
  }
  

  .infoText{
    font-size: 20px;
  }


}


@media screen and (max-width:577px){
  .title{
    font-size: 26px;
    line-height: 40px;
  }
  
  
  .mainTitleElement{
    font-size: 24px;
  }
  
  
  .mainTitleElement2{
    font-size: 24px;
  }


  .text{
    font-size: 20px;
    margin-top: 10px;
  }

  .mainTitle{
    top: 212px;
    left: 66px;
  }
  

  .textTred{
    font-size: 28px;
  }



  .textTitle {
    font-size: 17px;
    margin-top: 36px;
  }



}

@media screen and (max-width:600px){
  .leftImage{
    font-size: 19px;
    line-height: 30px;
    font-weight: 500;
  }

}




