.item {
    color: #e1e8ee;
    margin-top: 6px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: color .3s;
  }

  .item:hover{
    color: #828282;
    cursor: pointer;
  }

  
@media screen and (max-width:577px){
  .item {
    font-size: 14px;
  }
}

  