.container{
    padding: 20px 0;
    position: relative;
}

.title{
    font-size: 96px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}


.titleSpecial{
    display: inline-block;
    position: relative;
}

.titleSpecial::after{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #DAA520;
    bottom: 10px;
    left: 20px;
    animation: widthMax 1.5s ease-out 3.5s forwards;
}


@keyframes widthMax{
    from{
       width: 0%;
    }
    to{
       width: 100%;
    }
}



.settings{
    /* position: absolute;
    bottom: 21%;
    left: 22%;
    width: 200px; */
    display: inline-block;
    margin-bottom: 10px;
}

.setting1{
   margin-left: 25px;
   margin-bottom: 2px;
   display: inline-block;
   width: 40px;
   height: 40px;
   position: relative;
   animation: circle1 15s infinite 3s linear;
}
.setting2{
    margin-bottom: 34px;
    margin-left: -8px;
    display: inline-block;
    width: 40px;
    height: 40px;
   animation: circle2 15s infinite 3s linear;
}

@keyframes circle1{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes circle2{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


@media screen and (max-width:991px){
    .title{
        font-size: 72px;
    }
    .titleSpecial::after{
        left: 3px;
    }
    
}


@media screen and (max-width:769px){
    .title{
        font-size: 58px;
    }

    .setting1{
        width: 28px;
        height: 28px;
    }
    
    .setting2{
        width: 28px;
        height: 28px;
        margin-bottom: 22px;
    }
    
}



@media screen and (max-width:577px){
    .title{
        font-size: 42px;
    }
}


@media screen and (max-width:400px){
    .title{
        font-size: 37px;
    }
}
