.container {
  color: #fff;
  font-size: 26px;
}

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 116.667% */
  text-transform: uppercase;
  margin: 40px 0;
}


@media screen and (max-width:992px){
  .title{
     font-size: 30px;
  }
}


@media screen and (max-width:577px){
  .title{
    font-size: 22px;
    line-height: 36px;
 }
}
